{% extends 'trans/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block login %}
    <div class="container">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h2 class="text-muted">Регистрация предприятия</h2>
            {% for error in form.non_field_errors %}
                <div class="form-group has-errors text-danger">
                    {{error}}
                </div>
            {% endfor %}
            <form method="post">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Название предприятия">
                </div>
                {% for error in form.name.errors %}
                    <div class="form-group has-errors text-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <input type="text" name="UNP" class="form-control" placeholder="УНП/ИНН">
                </div>
                {% for error in form.UNP.errors %}
                    <div class="form-group has-errors text-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <select name="primary_occupation" class="form-control">
                        <option value="-1" selected="selected"> Основной вид дейтельности </option>
                        {% for field in fields %}
                            <option value={{ forloop.counter0 }}> {{ field }} </option>
                        {% endfor %}
                    </select>
                </div>
                {% for error in form.primary_occupation.errors %}
                    <div class="form-group has-errors text-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <input type="text" name="license" class="form-control" placeholder="Номер лицензии">
                </div>
                {% for error in form.license.errors %}
                    <div class="form-group has-errors text-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <input type="text" name="country" class="form-control" placeholder="Страна">
                </div>
                {% for error in form.country.errors %}
                    <div class="form-group has-errors text-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <input type="text" name="town" class="form-control" placeholder="Город">
                </div>
                {% for error in form.town.errors %}
                    <div class="form-group has-errors text-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <input type="text" name="address" class="form-control" placeholder="Адрес">
                </div>
                {% for error in form.address.errors %}
                    <div class="form-group has-errors text-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <input type="text" name="phone" class="form-control" placeholder="Номер телефона в формате +375339019468">
                </div>
                {% for error in form.phone.errors %}
                    <div class="form-group has-errors text-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-success" value="Зарегистрировать">
                </div>
            </form>
        </div>
	</div>
{% endblock %}