{% extends 'trans/base_company.html' %}

{% block title %}Контакты{% endblock %}

{% block company_content %}
    {% if is_employee %}
        <div class="container">
            <h3 class="text-muted center">Администраторы</h3>
            {% for administrator, avatar in administrators %}
                <div class="box-shadow container_contact">
                    <img class="company_contact_logo" src="data:image/gif;base64,{{avatar}}">
                    <div>
                        {{ administrator.surname }}
                        {{ administrator.name }}
                        <p></p>
                        {{ administrator.phone }}
                        <p></p>
                        {{ administrator.email }}
                        <p></p>
                        {% if nickname != administrator.nickname %}
                            <a id="message" href="{% url 'message'%}?sel={{administrator.id}}">Написать сообщение</a>
                        {% endif %}
                    </div>
                    {% if is_administrator and company.nickname != administrator.nickname and nickname != administrator.nickname %}
                        <div class="add_administrator">
                            <a id="change-administrator-{{ administrator.id }}" class="glyphicon glyphicon-chevron-down "></a>
                            <a id="change-delete-{{ administrator.id }}" class="glyphicon glyphicon-remove "></a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="container">
            {% if employees %}
                <h3 class="text-muted center">Сотрудники</h3>
            {% endif %}
            {% for employee, avatar in employees %}
                <div class="box-shadow container_contact">
                    <img class="company_contact_logo" src="data:image/gif;base64,{{avatar}}">
                    <div>
                        {{ employee.surname }}
                        {{ employee.name }}
                        <p></p>
                        {{ employee.phone }}
                        <p></p>
                        {{ employee.email }}
                        <p></p>
                        {% if nickname != employee.nickname %}
                            <a id="message" href="{% url 'message'%}?sel={{employee.id}}">Написать сообщение</a>
                        {% endif %}
                    </div>
                    {% if is_administrator %}
                        <div class="add_administrator">
                            <a id="change-administrator-{{ employee.id }}" class="glyphicon glyphicon-chevron-up "></a>
                            <a id="change-delete-{{ employee.id }}" class="glyphicon glyphicon-remove "></a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="container">
            <h3 class="text-muted center">Сотрудники</h3>
            {% for employee, avatar in administrators %}
                <div class="box-shadow container_contact">
                    <img class="company_contact_logo" src="data:image/gif;base64,{{avatar}}">
                    <div>
                        {{ employee.surname }}
                        {{ employee.name }}
                        <p></p>
                        {{ employee.phone }}
                        <p></p>
                        {{ employee.email }}
                        <p></p>
                        <a id="message" href="{% url 'message'%}?sel={{employee.id}}">Написать сообщение</a>
                    </div>
                </div>
            {% endfor %}
            {% for employee, avatar in employees %}
                <div class="box-shadow container_contact">
                    <img class="company_contact_logo" src="data:image/gif;base64,{{avatar}}">
                    <div>
                        {{ employee.surname }}
                        {{ employee.name }}
                        <p></p>
                        {{ employee.phone }}
                        <p></p>
                        {{ employee.email }}
                        <p></p>
                        <a id="message" href="{% url 'message'%}?sel={{employee.id}}">Написать сообщение</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if is_administrator %}
        <div class="absolute_center width_employee">
            <a href="{% url 'add_employee' company_id=company.id%}"><button type="button" class="btn btn-primary">Добавить сотрудника</button></a>
        </div>
    {% endif %}
    <script type="text/javascript">
        Array.prototype.forEach.call(document.querySelectorAll('change[type=text]'), function (ths) {
            ths.onclick = event_click;
        });

        $('a').click(function () {
            let action = $(this).attr('id').split('-')[1]
            if (action) {
                let id = $(this).attr('id').split('-')[2]
                if (action == "administrator") {
                    $.get("change_administrator/" + id, function(data) {
                        $.ajax({
                            url: "contacts",
                            cache: true,
                            success: function(html){
                                $("#content").html(html);
                            }
                        });
                    });
                } else {
                    $.get("remove_employee/" + id, function(data) {
                        $.ajax({
                            url: "contacts",
                            cache: true,
                            success: function(html){
                                $("#content").html(html);
                            }
                        });
                    });
                }
            }
        });
    </script>
{% endblock %}

