{% extends 'trans/base_company.html' %}

{% block title %}Автопарк{% endblock %}

{% block company_content %}
    <div class="container">
        <h3 class="text-muted center">Грузы</h3>
        {% for body_type, download_type, goods in goods %}
            <div class="box-shadow container_car">
                <div style="display: flex;">
                    <div class="add_administrator">
                        <a href="#" class="glyphicon glyphicon-pencil"></a>
                        <a id="remove-{{ goods.id }}" class="glyphicon glyphicon-remove"></a>
                    </div>
                </div>
                <div class="center">
                    Наименование: {{ goods.name }}
                    <p></p>
                    Тип кузова: {{ body_type }}
                    <p></p>
                    Тип загрузки: {{ download_type }}
                    <p></p>
                    <a href="{% url 'goods_info' goods_id=goods.id %}"><div class="center">Посмотреть описание и ставки</div></a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="absolute_center width_car">
        <a href="{% url 'add_goods' %}"><button type="button" class="btn btn-primary">Добавить груз</button></a>
    </div>
    <script type="text/javascript">
        Array.prototype.forEach.call(document.querySelectorAll('remove[type=text]'), function (ths) {
            ths.onclick = event_click;
        });

        $('a').click(function () {
            let id = $(this).attr('id').split('-')[1]
            $.get("remove_goods/" + id, function(data) {
                $.ajax({
                    url: "",
                    cache: true,
                    success: function(html){
                        $("#content").html(html);
                    }
                });
            });
        });
    </script>
{% endblock %}