{% extends 'trans/base_company.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block company_content %}
    <div class="container ">
        <div class="container_review box-shadow">
            <div class="col-lg-3">
                <div style="margin-bottom: 40px">
                    <h3 class="text-muted">Контактное лицо</h3>
                </div>
                {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <label> {{ member.name }} {{ member.surname }} </label>
                </div>
                <div class="form-group">
                    <label> {{ member.email }} </label>
                </div>
                <div class="form-group">
                    <label> {{ member.phone }} </label>
                </div>
                {% if check %}
                    <div class="form-group">
                        <a href="{% url 'edit_profile' %}" value="Login">Редактировать данные</a>
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
                <div style="margin-bottom: 40px">
                    <h3 class="text-muted">Предприятие</h3>
                </div>
                {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% if company %}
                    <div class="form-group">
                        <label> {{ company.name }} </label>
                    </div>
                    <div class="form-group">
                        <label> УНП {{ company.UNP }} </label>
                    </div>
                    <div class="form-group">
                        <label> {{ company.primary_occupation }} </label>
                    </div>
                    <div class="form-group">
                        <label> Лицензия {{ company.license }} </label>
                    </div>
                    <div class="form-group">
                        <label> {{ company.country }}, {{ company.town }} </label>
                    </div>
                    <div class="form-group">
                        <label> {{ company.address }} </label>
                    </div>
                    <div class="form-group">
                        <label> {{ company.phone }} </label>
                    </div>
                    {% if check %}
                        <div class="form-group">
                            <a href="{% url 'edit_company' %}" value="Login">Редактировать данные</a>
                        </div>
                    {% endif %}
                {% else %}
                    {% if check %}
                        <div class="form-group">
                            <a href="{% url 'add_company' %}" value="Login">Зарегистрировать предприятие</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}