{% extends 'trans/base_company.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block company_content %}
    <div class="container container_home">
        <div class="container_profile_box box-shadow">
            <div class="center">
                <div style="margin-bottom: 40px">
                    <h3 class="text-muted">Контактное лицо</h3>
                </div>
                {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <img style="width: 300px;" src="data:image/gif;base64,{{avatar}}">
                </div>
                <div class="form-group">
                    <em>Фамилия, имя: </em><label> {{ member.surname }} {{ member.name }} </label>
                </div>
                <div class="form-group">
                    <em>Адрес электронной почты: </em><label> {{ member.email }} </label>
                </div>
                <div class="form-group">
                    <em>Номер телефона: </em><label> {{ member.phone }} </label>
                </div>
                {% if check %}
                    <div class="form-group">
                        <a href="{% url 'edit_profile' %}" value="Login">Редактировать данные</a>
                    </div>
                {% endif %}
                {% if not company %}
                    <div class="form-group">
                        <a href="{% url 'add_company' %}" value="Login">Зарегистрировать предприятие</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}