{% extends 'trans/base.html' %}

{% block title %}Добавить отзыв{% endblock %}

{% block content %}
    <div class="container"></div>
        <div class="col-lg-2"></div>
        <div class="margin_boottom_20">
            <h3 class="text-muted center">Отзывы предприятия {{ company.name }}</h3>
        </div>
        <div class="center inline margin_boottom_20">
            <label class="red rating_text">Отрицательные: {{ negative }}</label>
            <label class="rating_text">Нейтральные: {{ neutral }}</label>
            <label class="green rating_text">Положительные: {{ positive }}</label>
        </div>
    {% for review, user, date_creation in reviews %}
        {% if review.rating.value == 1%}
            <div class="container_review box-shadow container_review_red">
        {% elif review.rating.value == 2%}
            <div class="container_review box-shadow container_review_normal">
        {% elif review.rating.value == 3%}
            <div class="container_review box-shadow container_review_green">
        {% endif %}
            <img src="https://i.ibb.co/x6FDdzW/image.png" alt="Avatar" style="width:90px">
            <p><span>{{ user.name }} {{ user.surname }}</span> {{ date_creation }}</p>
            <p>{{ review.review }}</p>
        </div>
    {% endfor %}
{% endblock %}