{% extends 'trans/base.html' %}

{% block title %}Добавить отзыв{% endblock %}

{% block content %}
    <div class="container"></div>
        <div class="col-lg-2"></div>
        <div class="margin_boottom_20">
            <h3 class="text-muted center">Отзывы предприятия {{ company.name }}</h3>
        </div>
        <div class="center inline margin_boottom_20">
            <label class="red rating_text">Отрицательные: {{ negative }}</label>
            <label class="rating_text">Нейтральные: {{ neutral }}</label>
            <label class="green rating_text">Положительные: {{ positive }}</label>
        </div>
    {% for review, user, date_creation, avatar, delete_and_remove_permission in reviews %}
        {% if review.rating.value == 1%}
            <div class="container_review box-shadow container_review_red">
        {% elif review.rating.value == 2%}
            <div class="container_review box-shadow container_review_normal">
        {% elif review.rating.value == 3%}
            <div class="container_review box-shadow container_review_green">
        {% endif %}
            <img src="data:image/gif;base64,{{avatar}}" alt="Avatar" style="width:90px">
            <div class="review_box">
                <p>
                    <span class="container_review_span">{{ user.name }} {{ user.surname }}</span>
                    {{ date_creation }}
                    <span class="italic" style="margin-left: 5px;">{% if review.is_edit %} (ред.) {% endif %}</span>
                </p>
                <p id="review-{{review.id}}">{{ review.review }}</p>
            </div>
            {% if delete_and_remove_permission %}
                <div class="review_button">
                    <a id="edit-{{review.id}}-{{user.id}}" class="glyphicon glyphicon-pencil"></a>
                    <a id="remove-{{review.id}}-{{user.id}}"class="glyphicon glyphicon-remove"></a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <script type="text/javascript">
        $('a').click(function () {
            let action = $(this).attr('id').split('-')[0]
            let id = $(this).attr('id').split('-')[1]
            let user_id = $(this).attr('id').split('-')[2]

            if (action == "edit") {
                let tag_p = document.querySelectorAll('p')
                let tag_textarea = document.querySelectorAll('textarea')

                for (let i = 0; i < tag_p.length; i++) {
                    if (tag_p[i].id.split('-')[1] == id) {
                        let message = $.get("review/" + id + "/verification", function(data) {
                            $.ajax();
                        });
                        setTimeout(function () {
                            if (message.responseText == "OK") {
                                $('p#review-' + id).replaceWith(function(index, oldHTML){
                                    return $("<textarea type='text' id='review' style='max-width: 100%; resize: none;' rows='9' name='description' maxlength='10000' class='form-control'/>").html(oldHTML);
                                });
                            }
                        }, 100)

                        setTimeout(function () {
                            content.onkeydown = content.onkeyup = content.onkeypress = handle;

                            let lastTime = Date.now();

                            function handle(e) {
                                let text = e.key
                                if (text == "Escape") {
                                    content.onkeydown = content.onkeyup = content.onkeypress = NaN
                                    $('textarea#review').replaceWith(function(index, oldHTML){
                                        return $("<p id='review-" + id + "' />").html(oldHTML);
                                    });
                                }
                            }
                        }, 500)

                        return
                    }
                }

                if (tag_textarea) {
                    let message = $.get("review/" + id + "/" + user_id + "/edit?text=" + $('textarea#review').val(), function(data) {
                        $.ajax({
                            url: "review",
                            cache: true,
                            success: function(html){
                                $("#content").html(html);
                            }
                            });
                    });
                }
            } else {
                $.get("remove_review/" + id + "/" + user_id, function(data) {
                    $.ajax({
                        url: "review",
                        cache: true,
                        success: function(html){
                            $("#content").html(html);
                        }
                    });
                });
            }
        });
    </script>
{% endblock %}