body {
  padding-top: 60px;
  padding-left: 10px;
}

.sidebar {
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #DADBDD;
    border-right: 2px solid #010101;
}

h5 {
    margin-left: -10px;
}

body {
  min-width: 970px;
  padding-top: 70px;
  padding-bottom: 30px;
}


.page-header {
  margin-bottom: 30px;
}

.page-header .lead {
  margin-bottom: 10px;
}

.sub {
    width: 100%
}

.top {
    padding-left: 350px;
    width: 65%;
}

.top_plan {
    padding-left: 300px;
    width: 72%;
}

.green {
    color: green;
}

.red {
    color: red;
}

div.wrapper {
  width:450px;
  }
  div.left_block {
  float:left;
  width:200px;
  }
  div.right_block {
  float:right;
  width:200px;
  }

.container {
  width: 95%;
  max-width: none !important;
}

.col-xs-4 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

.navbar-header {
  float: left;
}

.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

.navbar-nav.navbar-right {
  float: right;
}

.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}

.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}

.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}

.home3 {
  width: 30%;
}

.company-block {
  width: 100%;
  outline: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  overflow: auto;
}

.company-name {
  width: 100%;	height: auto;
  background-color: #f6f6f6;
  outline: 1px solid #e7e7e7;
}

.company-text {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.company-color {
  color: #979292
}

.home-company-logo {
  max-width: 100%;
  max-height: 100%;
}

.company-box {
  margin-top: 10px;
  position: relative;
}

.company-box-logo {
  width: 15%;
  display: inline-block;
  vertical-align: top;
}
.company-box-help {
  width: 20%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.company-box-description {
  width: 42%;
  display: inline-block;
  text-align: center;
}

.company-textarea {
  max-width: 100px;
}

.company-box-rating {
  margin-top: -10px;
  width: 17%;
  display: inline-block;
  border-left: 1px solid #ccc;
  position: absolute;
  right:0;
  top:0;
  bottom:0;
  background-color: #d1d1d1;
}

.company-box-rating-item {
  margin-top: 20px;
  margin-left: 20px;
}

.company-rating {
  margin-bottom: 15px;
}

.company-box-rating-button {
  bottom: 20px;
  position: absolute;
  right: 20px;
  left: 20px;
}

.like {
  width: 10%;
  margin-right: 20px;
}

.center {
  text-align: center;
}

.margin_boottom_20 {
  margin-bottom: 20px;
}

.radio_button {
  padding-left: 40px;
  padding-right: 40px;
}

.radio_button_text {
  padding-left: 5px;
}

.inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.red {
  color: red;
}

.green {
  color: green;
}

.rating_text {
  padding-left: 40px;
  padding-right: 40px;
}

.container_review_red {
  border: 2px solid red;
}

.container_review_normal {
  border: 2px solid #ccc;
}

.container_review_green {
  border: 2px solid green;
}

.container_review {
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.container_review::after {
  content: "";
  clear: both;
  display: table;
}

.container_review img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container_review span {
  font-size: 20px;
  margin-right: 15px;
}
