body {
  padding-top: 60px;
  padding-left: 10px;
}

.sidebar {
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #DADBDD;
    border-right: 2px solid #010101;
}

h5 {
    margin-left: -10px;
}

body {
  min-width: 970px;
  padding-top: 70px;
  padding-bottom: 30px;
}


.page-header {
  margin-bottom: 30px;
}

.page-header .lead {
  margin-bottom: 10px;
}

.sub {
    width: 100%
}

.top {
    padding-left: 350px;
    width: 65%;
}

.top_plan {
    padding-left: 300px;
    width: 72%;
}

.green {
    color: green;
}

.red {
    color: red;
}

div.wrapper {
  width:450px;
  }
  div.left_block {
  float:left;
  width:200px;
  }
  div.right_block {
  float:right;
  width:200px;
  }

.container {
  width: 95%;
  max-width: none !important;
}

.col-xs-4 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

.navbar-header {
  float: left;
}

.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
  margin-right: 50px;
}

.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

.navbar-nav.navbar-right {
  float: right;
}

.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}

.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}

.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}

.home3 {
  width: 30%;
}

.container_home {
  display: flex;
  justify-content: center;
}


.company-block {
  width: 100%;
  overflow: auto;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.company-name {
  width: 100%;	height: auto;
  background-color: #f6f6f6;
  outline: 1px solid #e7e7e7;
}

.company-text {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

p.company-text {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.company-color {
  color: #979292
}

.home-company-logo {
  max-width: 100%;
  max-height: 100%;
}

.company-box {
  position: relative;
  background-color: #eee;
}

.company-box-logo {
  width: 15%;
  display: inline-block;
  vertical-align: top;
}
.company-box-help {
  padding-top: 20px;
  width: 20%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.company-box-description {
  padding-top: 20px;
  width: 42%;
  display: inline-block;
  text-align: center;
}

.company-textarea {
  max-width: 100px;
}

.company-box-rating {
  width: 17%;
  display: inline-block;
  border-left: 1px solid #ccc;
  position: absolute;
  right:0;
  top:0;
  bottom:0;
  background-color: #d1d1d1;
}

.company-box-rating-item {
  margin-top: 20px;
  margin-left: 20px;
}

.company-rating {
  margin-bottom: 15px;
}

.company-box-rating-button {
  bottom: 20px;
  position: absolute;
  right: 20px;
  left: 20px;
}

.like {
  width: 10%;
  margin-right: 20px;
}

.center {
  text-align: center;
}

.margin_boottom_20 {
  margin-bottom: 20px;
}

.radio_button {
  padding-left: 40px;
  padding-right: 40px;
}

.radio_button_text {
  padding-left: 5px;
}

.inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.red {
  color: red;
}

.green {
  color: green;
}

.rating_text {
  padding-left: 40px;
  padding-right: 40px;
}

.container_review_red {
  border: 2px solid red;
}

.container_review_normal {
  border: 2px solid #ccc;
}

.container_review_green {
  border: 2px solid green;
}

.container_review {
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

.container_profile_box {
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  border: 1px solid #ccc;
  width: 70%;
}

.container_profile_box::after {
  content: "";
  clear: both;
  display: table;
}

.container_review::after {
  content: "";
  clear: both;
  display: table;
}

.container_review img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container_review_span {
  font-size: 20px;
  margin-right: 15px;
}

.background {
  background: url("https://i.ibb.co/31Xjt2C/white-waves.png");
  background-attachment: fixed;
}

.box-shadow {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.container_profile {
  display: flex;
  justify-content: center;
}

.container_profile img {
  float: left;
  border-radius: 50%;
  cursor: pointer;
  height: 70px;
  border: 2px solid #000;
}

.company_picture {
  float: left;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 50%;
}

.container_contact {
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  border: 1px solid #ccc;
  max-width: 30%;
  min-width: 30%;
  float: left;
  margin-left: 1.6%;
  margin-right: 1.6%;
  display: flex;
}

.company_contact_logo {
  max-width: 33%;
  min-width: 33%;
  display: inline-block;
  vertical-align: top;
  margin-right: 5%;
}

.absolute_center {
  margin: auto;
}

.width_employee {
  width: 169.359px;
}

.width_car {
  width: 122.719px;
}

.display_flex {
  display: flex;
}

.input_employee {
  max-width: 30%;
}

.label {
  font: 12pt sans-serif;
  color: #000;
  line-height: 1.75em;
}

.margin {
  margin-top: 40px;
  margin-bottom: 40px;
}

.btn-employee {
  width: 30%;
}

.error {
  color: red
}

.add_administrator {
  margin-left: auto;
}

.add_administrator a {
  text-decoration: none;
}

.font_size_12 {
  font-size: 12pt;
}

.font_size_12px {
  font-size: 12px;
}

.autocomplete-items {
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}

.container_car {
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  border: 1px solid #ccc;
  max-width: 30%;
  min-width: 30%;
  float: left;
  margin-left: 1.6%;
  margin-right: 1.6%;
}


.company_car_logo {
  max-width: 70%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5%;
  margin-right: 0px;
  padding-left: 0px;
  margin-left: 14%;
}

.italic {
  font-style: italic;
}

.review_button {
  margin-left: auto;
  float: right;
}

.review_button a {
  text-decoration: none;
}

.review_box {
  float: left;
  max-width: 89%;
  min-width: 89%;
}

.container_message {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0px 0px 16px 0px;
  margin: 16px 0;
  border: 1px solid #ccc;
  max-width: 70%;
  min-width: 70%;
  margin: auto;
}

.message_header {
  display: flex;
}

.line {
  border: 1px solid #ccc;
}

.message_back{
  padding: 21px 100px 21px 26px;
  height: 62px;
}

.message_header a {
  color: #333;
}

.message_user {
  margin: auto;
}

.message_action {
  right: 0;
  margin: 11px;
  align-items: center;
  display: flex;
}

.message_avatar {
  margin: 5px 15px;
}

.message_avatar img {
  height: 52px;
  border-radius: 50%;
}

.message_content {
  overflow: auto;
  height: 65vh;
  padding: 0px 16px;
}

.message_input {
  margin-top: 10px;
  padding: 0px 16px;
}

.message {
  margin: 20px;
}

.container_messages {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 70%;
  min-width: 70%;
  margin: auto;
}

.messages {
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
}

.message img {
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}

.messages_img {
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}

.message_search {
  height: 45px;
  border: none;
  width: 100%;
  border-radius: 5px;
  outline: none;
  padding: 0px 20px;
}

.container_search {
}

.messages_list {
  overflow: auto;
  height: 78vh;
}

.messages_date {
  float: right;
}

.hover :hover
{
    background: #f5f7fa;
}

.hover a {
  color: #333;
  text-decoration: none;
}

.sender_avatar {
  height: 25px;
  margin-right: 5px;
  border-radius: 50%;
}

.message_back:hover {
  background: 15px 16px no-repeat, linear-gradient(90deg,#f0f2f5 50%,#fff);
  text-decoration: none;
}

.message_text {
  word-wrap: break-word;
  padding-left: 65px;
  margin-top: 10px;
}

.home_button {
  width: 170px;
}

.company-box-help-p {
  margin: 15px 0px;
}

.company-box-help-p a {
  text-decoration: none;
}

.dropdown-menu li a {
  padding: 10px 20px;
}

.goods_left {
  float: left;
  width: 49%;
  margin-right: 2%;
}

.goods_right {
  width: 49%;
}

.container_goods {
  background-color: #ffffff;
  border-radius: 5px;
  margin: 16px 0;
  border: 1px solid #ccc;
  margin: auto;
  display: flex;
  margin-bottom: 30px;
}

.goods_7 {
  width: 12.28%;
  float: left;
  margin: 1%;
  text-align: center;
  line-height: 1.8;
}

.goods_text {
  margin-bottom: 15px;
  color: #777;
}

.goods_7 a {
  text-decoration: none;
}

.car_6 {
  width: 14.66%;
  float: left;
  margin: 1%;
  text-align: center;
  line-height: 1.8;
}